<div class="">
    <h1 class="">
        <b>VIP</b>
    </h1>
    <div class="">
        <span>
            Service d'assistance prioritaire
        </span>
    </div>
    <div class="">
        <span>
            24
        </span>
        <sup>
            50 US$
        </sup>
        <div>
            /mois
        </div>
    </div>
</div>